@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

#ribbon{
    background-color: #686dc3;
    background-image:repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131,21,21,0.5) 25px, rgba(131,21,21,0.5) 40px);
}

#robbon::after{
    content:'';
    background-color: transparent;
    display:block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#birthday{
    background-color: #686dc3;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#birthday img{
    position:relative;
    margin-top: -30px;
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}
#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;

}

#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#libros{
    background: #686dc3;
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#separator-image{
    background: #686dc3;
    
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#separator-a{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-a .content{
    
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#footer{
    background: #e83283;
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#games{
    background: rgb(255,255,255);
    background: url(../images/banderin.png);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}   



.intNumber{
    width: 3rem;
    /*font-style:italic para darle cursiva...;
    font-family: 'Times New Roman', Times, serif;   tipo de letra*/

}

#libroDesc{
    text-align: justify;
}

#libro img{
    height:20%;
    width: 20%;
}

</style>


<!--Inicia detalles de libro-->
  <!--separador-->
    <div id="separator-ribbon">
        <div class="content bg-warning "></div>
      </div>
      <!--Titulo de libro -->
      <div class="row pt-2">
        <h3 class="text-center pb-2 pt-2 h3 text-shadow">
          Orgullo y Prejuicio
        </h3>
      </div>
    </div>
    <!--separacion de columnas -->

    <div class=" container pt-2">

        <div class="row">
            <div class="col-sm-3">
                
               <img src="../images/orgullo.jpg"class="w-75"  alt="...">
                   
            </div>
            <div class="col-sm-6">
                <h4>Sinopsis</h4>
                <p id="libroDesc">Maravillosa edición ilustrada de Alfaguara Clásicos de Orgullo y prejuicio de Jane Austen, 
                    una de las historias de amor más cautivadoras de la historia y un clásico de la literatura
                    universal.La familia Bennet tiene cinco hijas, así que la llegada al vecindario de Mr. 
                    Bingley, un joven rico y soltero, es todo un acontecimiento. Mientras Mr. Bingley se embelesa
                    con Jane, la mayor de las hermanas, el altivo Mr. Darcy y la alegre Elizabeth pronto se enzarzan
                    en una serie de desdenes y malentendidos que deberán reconocer y afrontar para poder alcanzar la
                    felicidad.Clásicos inolvidables para disfrutar, compartir y dejar volar la imaginación</p>
            </div>

            <div class="col-sm-3">
              <div class="card border-secondary mb-3" style="max-width: 20rem;">
                
                
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-text text-shadow h3 text-warning">Precio:  $339</p>
                  <div class="  pb-2">
                    <p class="text-shadow">Cantidad: </p>
                    <input type="number" class="intNumber card card">
                  </div>
                  
                  
                    <button type="button" class="btn btn-danger text-center">Agregar al carrito</button>
                  
                  <p class="card-text text-dark pt-2">IVA incluido en caso de ser aplicable </p>
                </div>
              </div>
            </div>
        </div>

    </div>
<!--fin detalles-->