@using LibreriaColibri.Models.ViewModels
@model ProfileViewModel

<div class="container text-center mt-3 mb-3">
    <div class="content card">
        <div class="row">
            <div class="col col-12">
                <h1 class="mt-3 display-6">Mi Perfil</h1>
                <hr />
            </div>

            @*Columna de la imagen*@
            <div class="col-sm-12 col-md-5 justify-content-center">
                <div>
                    <img src="~/sources/images/IconoUsuario.png" alt="img-usr" class="w-50">
                </div>
            </div>

            @*Columna del formulario*@
            <div class="col-sm-12 col-md-7">
                <div class="p-3">
                    <form action="MyProfile" method="post">
                        <div>
                            <h3 class="fw-light">Datos Personales</h3>
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control col-10" placeholder="Nombre">
                            <br>
                        </div>
                        <div>
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control col-10" placeholder="Correo" readonly="" asp-for="Email">
                            <br>
                        </div>
                        <div>
                            <label asp-for="Phone"></label>
                            <input type="text" class="form-control col-10" placeholder="Telefono" asp-for="Phone">
                            <hr>
                        </div>
                        <div>
                            <h3 class="card-text">Direccion de envio</h3>
                            <label asp-for="Address"></label>
                            <input type="text" class="form-control col-10" placeholder="Direccion" asp-for="Address">
                            <br>
                        </div>
                        <div>
                            <label asp-for="ZipCode"></label>
                            <input type="text" class="form-control col-2" placeholder="C.P." asp-for="ZipCode">
                            <br>
                        </div>
                        <div>
                            <label asp-for="City"></label>
                            <input type="text" class="form-control col-10" placeholder="Ciudad" asp-for=City>
                            <br>
                        </div>
                        <div>
                            <label asp-for="Name"></label>
                            <input type="text" class="form-control col-10" placeholder="Pais" asp-for=Country>
                            <br>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info mr-2 mt-1">Guardar Cambios</button>
                            <button type="button" class="btn btn-info ml-2 mt-1">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>