@using LibreriaColibri.Models.ViewModels
@model ProfileViewModel

<div class="container text-center mt-3 mb-3">
    <div class="content card">
        <div class="row">
            <div class="col col-12">
                <h1>Mi Perfil</h1>
                <hr />
            </div>
                
            <div class="col col-5 justify-content-center">
                <div>
                    <img src="~/sources/images/IconoUsuario.png" alt="img-usr" class="w-75">
                </div>
            </div>
            <div class="col col-7">
                <div class="row p-3">
                    <form asp-action="MyProfile" method="post">
                        <div>
                            <h3 class="card-text">Datos Personales</h3>

                            <input type="hidden" asp-for="Id"/>

                            <label asp-for="Name"></label>
                            <input type="text" class="form-control card col-10" placeholder="Nombre" asp-for="Name">
                            <br>
                        </div>
                        <div>
                            <label asp-for="Email"></label>
                            <input type="email" class="form-control col-10" placeholder="Correo" disabled asp-for="Email">
                            <br>
                        </div>
                        <div>
                            <label asp-for="Phone"></label>
                            <input type="text" class="form-control card col-10" placeholder="Telefono" asp-for="Phone">
                            <hr>
                        </div>
                        <div>
                            <h3 class="card-text">Direccion de envio</h3>
                            <label asp-for="Address"></label>
                            <input type="text" class="form-control card col-10" placeholder="Direccion" asp-for="Address">
                            <br>
                        </div>
                        <div>
                            <label asp-for="ZipCode"></label>
                            <input type="text" class="form-control card col-2" placeholder="C.P." asp-for="ZipCode">
                            <br>
                        </div>
                        <div>
                            <label asp-for="City"></label>
                            <input type="text" class="form-control card col-10" placeholder="Ciudad" asp-for=City>
                            <br>
                        </div>
                        <div>
                            <label asp-for="Name"></label>
                            <input type="text" class="form-control card col-10" placeholder="Pais" asp-for=Country>
                            <br>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-info mr-2 mt-1">Guardar Cambios</button>
                            <button type="button" class="btn btn-info ml-2 mt-1">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>