@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}


<!--CAROUSEL With indicators-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/3.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/1.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!--END CAROUSEL-->
<div>
  
  <!--RIBBON-->
  <div id="ribbon" class="container-fluid">
    <div id="birthday" class="container w-50 px-5 rounded-lg">
        <div class="row aling-items-center">
          <div class="col-sm p-3">
            <img src="../images/con2.png" class="w-100 rounded mx-auto d-block">
          </div>
          <div class="col-sm  p-3 text-light text-center">
            <p class="text-warning  text-shadow h3">Hoy es</p>
            <h4 class="h2 text-shadow">UN BUEN DIA PARA LEER</h4>
          </div>
        </div>
    </div>
  </div>
  <!--SEPARADOR-->
<div id="separator-ribbon">
  <div class="content bg-warning "></div>
</div>

  <!--BOOKS-->

  <div class="container-md p-2">
      <div class="row pt-2">
        <h3 class="text-center pb-3 pt h1 text-shadow">
          LO MÁS VENDIDO
        </h3>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card border-primary mb-5">
            <img src="../images/greg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">El Diario de Greg 8</h4>
              
              <p class="text-warning">Precio: $149</p>
              <a class="btn btn-link" href="#"> Ver más </a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card border-primary mb-5">
            <img src="../images/compas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title h5">Los Compas Perdidos en el Espacio</h4>
              <p class="card-text">
                
                <p class="text-warning"> Precio: $268</p>
                <a class="btn btn-link" href="#"> Ver más </a>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card border-primary mb-5">
            <img src="../images/orgullo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Orgullo y prejuicio</h4>
              
              <p class="text-warning"> Precio: $339</p>
              <a class="btn btn-link" href="#"> Ver más </a>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card border-primary mb-5">
            <img src="../images/sat.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">WTF con el SAT</h4>
              
              <p class="text-warning">Precio: $269</p>
              <a class="btn btn-link" href="#"> Ver más </a>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card border-primary mb-5">
            <img src="../images/vic.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title h5">VICNIX Perdidos en el Mar</h4>
              
              <P class="text-warning">Precio: $169</P>
              <a class="btn btn-link" href="#"> Ver más </a>
            </div>
          </div>
        </div>


      </div>
  </div>


  <div id="separator-ribbon">
    <div class="content bg-warning "></div>
  </div>
  

<!--lo mas nuevo-->
<div class="container-md p-2">
  <div class="row pt-2">
    <h3 class="text-center pb-5 pt-2 h1 text-shadow">
      LO MÁS NUEVO
    </h3>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card border-primary mb-5">
        <img src="../images/alas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">
            Las Alas De Sophie</h4>
          <p class="text-warning">Precio: $268</p>
          <a class="btn btn-link" href="#"> Ver más </a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-primary mb-5">
        <img src="../images/confesiones.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h class="card-title h6">Confesiones De Una Chica Invisible</h4>
            <p class="text-warning"> Precio: $348</p>
            <a class="btn btn-link" href="#"> Ver más </a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card border-primary mb-5">
        <img src="../images/peligro.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Peligro Profundo</h4>
          <p class="text-warning"> Precio: $298</p>
          <a class="btn btn-link" href="#"> Ver más </a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card border-primary mb-5">
        <img src="../images/fuego.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">
            La Niña De Fuego</h4>
          <p class="text-warning">Precio: $299</p>
          <a class="btn btn-link" href="#"> Ver más </a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card border-primary mb-5">
        <img src="../images/perdidos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title h5">
            Perdidos en Nunca Jamás</h4>
           <P class="text-warning">Precio: $349</P>
           <a class="btn btn-link" href="#"> Ver más </a>
        </div>
      </div>
    </div>


  </div>
</div>

  <!--SEPARADOR
  <div id="separator-a">
    <div class="content bg-primary"></div>
  </div>-->
  
    

