@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="card container col-sm-8 mt-5">
    <h1>@ViewData["Title"]</h1>

    <p><strong>
        Estimado y muy querido usuario, le queremos dar a conocer que al ingresar, visitar, registrarse, utilizar nuestra página aceptas que tu alma ahora nos pertenece.
    </strong></p>
    <p>Gracias por su comprensión.</p>
    <p>Atte. Librería Colibrí y nuestro supremo lider <strong>Kim Jong-un</strong></p>
    <hr />
    <p>P.D. No nos hackeen por favor.</p>
</div>

