@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

#ribbon{
    background-color: #686dc3;
    background-image:repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131,21,21,0.5) 25px, rgba(131,21,21,0.5) 40px);
}

#robbon::after{
    content:'';
    background-color: transparent;
    display:block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#birthday{
    background-color: #686dc3;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#birthday img{
    position:relative;
    margin-top: -30px;
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}
#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;

}

#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#libros{
    background: #686dc3;
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#separator-image{
    background: #686dc3;
    
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#separator-a{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-a .content{
    
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#footer{
    background: #e83283;
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#games{
    background: rgb(255,255,255);
    background: url(../images/banderin.png);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}   



.intNumber{
    width: 3rem;
    /*font-style:italic para darle cursiva...;
    font-family: 'Times New Roman', Times, serif;   tipo de letra*/

}

#libroDesc{
    text-align: justify;
}

#libro img{
    height:20%;
    width: 20%;
}

</style>



<!--Titulo vista-->
<div class="row pt-2">
    <h3 class="text-center pb-2 pt-2 h1 text-shadow">
      MI CARRITO
    </h3>
  </div>


<!--Tabla de compras-->
<div class="container pt-2">
  <div class="row">
      <div class="col-sm-8">

        <!--Inicia tabla de contenido-->
        <table class="table table-hover">
          <thead>
            <tr class="table-warning text-shadow">
              <th scope="col">Producto</th>
              
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <th scope="row">
                <img src="../images/alas.jpg" class="w-50"  alt="..."> 
              </th>
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td>
                  <input type="number" class="intNumber card card ">
              </td>
              <td >Total</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="../images/compas.jpg" class="w-50"  alt="..."> 
              </th>
              
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">
                <img src="../images/confesiones.jpg" class="w-50"  alt="..."> 
              </th>
              
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr >
              <th scope="row">
                <img src="../images/greg.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">
                <img src="../images/orgullo.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="../images/perdidos.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">
                <img src="../images/sat.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="../images/vic.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">
                <img src="../images/fuego.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="../images/alas.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
          </tbody>
        </table>
        </div>
      <!--fin de tabla-->
      <!--card total de orden-->
    <div class=" col-sm-4">

        <div class="card border-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header text-center text-shadow">Total de tu Orden</div>
          <img src="../images/cart.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text text-shadow">Sub Total:</p>
            <p class="card-text text-shadow">Sub Total de Envío:</p>
            <p class="card-text text-warning text-shadow">Total: </p>
            
            
              <button type="button" class="btn btn-danger ">Realizar pedido</button>
            
            <p class="card-text text-dark pt-2">IVA incluido en caso de ser aplicable </p>
          </div>
        </div>
      </div>
      <!--fin de card-->
  </div>
</div>






