@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<!--Titulo vista-->
<div class="row pt-2">
    <h3 class="text-center pb-2 pt-2 h1 text-shadow">
      MI CARRITO
    </h3>
  </div>


<!--Tabla de compras-->
<div class="container pt-2">
  <div class="row">
      <div class="col-sm-8">

        <!--Inicia tabla de contenido-->
        <table class="table table-hover">
          <thead>
            <tr class="table-warning text-shadow">
              <th scope="col">Producto</th>
              
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <th scope="row">
                <img src="~/sources/images/alas.jpg" class="w-50"  alt="..."> 
              </th>
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td>
                  <input type="number" class="intNumber card card ">
              </td>
              <td >Total</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="~/sources/images/compas.jpg" class="w-50"  alt="..."> 
              </th>
              
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">
                <img src="~/sources/images/confesiones.jpg" class="w-50"  alt="..."> 
              </th>
              
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr >
              <th scope="row">
                <img src="~/sources/images/greg.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">
                <img src="~/sources/images/orgullo.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="~/sources/images/perdidos.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">
                <img src="~/sources/images/sat.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="~/sources/images/vic.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">
                <img src="~/sources/images/fuego.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
            <tr>
              <th scope="row">
                <img src="~/sources/images/alas.jpg" class="w-50"  alt="..."> 
              </th>
              
              <td class="text-warning">$PRECIO X UNIDAD</td>
              <td><input type="number" class="intNumber card card "></td>
              <td >Total</td>
            </tr>
          </tbody>
        </table>
        </div>
      <!--fin de tabla-->
      <!--card total de orden-->
    <div class=" col-sm-4">

        <div class="card border-secondary mb-3" style="max-width: 20rem;">
          <div class="card-header text-center text-shadow">Total de tu Orden</div>
          <img src="~/sources/images/cart.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text text-shadow">Sub Total:</p>
            <p class="card-text text-shadow">Sub Total de Envío:</p>
            <p class="card-text text-warning text-shadow">Total: </p>
            
            <form asp-controller="Order" asp-action="Payment" method="get">
                
              <button type="submit" class="btn btn-danger">Realizar pedido</button>
            
            </form>
             
            
            <p class="card-text text-dark pt-2">IVA incluido en caso de ser aplicable </p>
          </div>
        </div>
      </div>
      <!--fin de card-->
  </div>
</div>






